<div class="container">
  <app-header></app-header>
  <h2>
    Welcome to Glamour Salon! We are commited to offer you the best experience.
  </h2>
  <p>
    Our friendly team offers everything from stylish haircuts and coloring to
    relaxing facials and massages. We use top-notch products and focus on making
    sure you leave looking and feeling great. Whether you’re coming in for a
    quick touch-up or a full makeover, we’re here to provide a comfortable and
    welcoming experience. Come visit us and treat yourself to some well-deserved
    self-care!
  </p>
  <app-salon-services></app-salon-services>
</div>
